.card {
  margin: 30px;
  border: none;
  overflow: hidden;
}
.profileimage {
  width: 100%;
  height: 250px;
}
.bt{
  border-radius: 8%;
  background-color: rgb(147, 193, 193);
  color: aliceblue;
}

.section-title {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px 18px;
  border-radius: 2px;

  background: linear-gradient(90deg, #6c757d, #9aa0a6);
  color: white;

  display: inline-block;

  letter-spacing: 0.5px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.section-title:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.section-wrapper {
  margin-bottom: 50px;
  position: relative;
}

.section-wrapper::after {
  content: "";
  display: block;
  height: 3px;
  width: 80%;
  margin-top: 10px;
  background: linear-gradient(to right, #b5b6b6, transparent);
  border-radius: 5px;
}
.section-wrapper {
  padding: 20px;
  background: #fefaf5;
  border-radius: 5px;
}
.fiction { background: linear-gradient(90deg, #f9f0eb, #626161); }
.nonfiction { background: linear-gradient(90deg, #f9f0eb, #626161); }
.comics { background: linear-gradient(90deg, #f9f0eb, #626161); }
.children { background: linear-gradient(90deg, #f9f0eb, #626161); }
