.mobile-cat {
  display: none;
}

@media (max-width: 768px) {
  .mobile-cat {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 10px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .mobile-cat a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    white-space: nowrap;
  }
}
